<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="40345boyan.palagachev.TopTenAll" Publisher="CN=421F176B-343F-446F-8865-C6364287856F" Version="1.0.0.5" />
  <Properties>
    <DisplayName>TopTenAll</DisplayName>
    <PublisherDisplayName>boyan.palagachev</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TopTenApp.App">
      <VisualElements DisplayName="TopTenAll" Logo="Assets\Top10Small.png" SmallLogo="Assets\Top10Small30.png" Description="TopTenApp" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\ohio_top_10.png" BackgroundColor="#ffffff" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <FileType>.txt</FileType>
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="article">
            <SupportedFileTypes>
              <FileType>.txt</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.fileSavePicker">
          <FileSavePicker>
            <SupportedFileTypes>
              <FileType>.txt</FileType>
            </SupportedFileTypes>
          </FileSavePicker>
        </Extension>
        <Extension Category="windows.search" />
        <Extension Category="windows.shareTarget">
          <ShareTarget>
            <SupportedFileTypes>
              <SupportsAnyFileType />
            </SupportedFileTypes>
            <DataFormat>Text</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>